@import "../assets/styles/variables.less";

.rc-breadcrumb {
  font-size: @size-14;
  font-family: iCielPanton_SemiBold;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 24px;
  span {
    color: @app-color;
  }
  a {
    color: @app-color;
  }
}

.rc-rangepicker {
  width: 100% !important;
  // margin-bottom: 16px;
}

.separate-line {
  width: 100%;
  height: 1px;
  background: @border-color;
  margin: 32px 0px;
}

.widget-statistic {
  &:hover {
    cursor: pointer;
  }
  float: left;
  padding: 0 8px;
  margin-bottom: 16px;
  .ant-card-head {
    border-bottom: none;
  }
  .ant-card-wider-padding .ant-card-head {
    padding: 0 24px;
  }
  .ant-card-head-title {
    height: 60px;
    .activities-info-title {
      height: 60px;
      line-height: 17px;
      padding: 12px 0px;
      border-bottom: none;
      p {
        text-transform: uppercase;
        font-family: iCielPanton_SemiBold;
      }
      span {
        font-size: @size-12;
        font-family: iCielPanton-LightItalic;
      }
    }
  }
  .ant-card-body {
    padding: 12px 24px;
    img {
      display: block;
      float: left;
      margin-right: 8px;
      margin-top: 5px;
      width: 24px;
      height: 24px;
    }
    span {
      font-size: @size-30;
      display: block;
      margin-top: -5px;
      font-family: iCielPanton-Light;
      color: @app-color;
    }
  }
}

.campaign-sending-method {
  background-color: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 20px;
  .campaign-sending-method-header {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    span {
      color: #ff6600;
    }
  }
  .mr {
    margin-right: 5px;
  }
  .m-0 {
    margin-top: 0;
  }
}

.select-sending {
  width: 40%;
  margin-left: 15px;
}

.note-msg {
  font-size: @size-12;
  font-family: iCielPanton-LightItalic;
}

.limit-character {
  font-size: @size-12;
  font-family: iCielPanton_SemiBold;
}

.ant-form-item-label {
  label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: @size-12;
    font-family: iCielPanton_SemiBold;
    float: left;
  }
}

.campaign-value {
  font-size: @size-17;
}

.message-notice-coupon {
  color: #f60;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

#file-upload-input {
  display: none;
}



